.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
	flex-wrap: wrap;
  text-align: center;
}

.project-name {
  text-align: center;
  margin-right: 0px;
  padding-top: 24px;
  border-bottom: solid 2px currentColor;
  padding-bottom: 10px;
}

.cards div {
  width: 50%;
}

.card-product {
  overflow: hidden;
  height: 518px;
  background: white;
  align-items: center;
  display:flex;
  flex-flow: column;
  outline: currentcolor solid 1px;
  padding: 26px;
}

.css-13irs1z{
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 10px);
  padding: 0px;
  aspect-ratio: 6 / 1;
  border: 0px;
  display: block;
  color: inherit;
}

.card-product img {
  height: 30%;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;

}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.click-bt{
  background-color: rgba(250, 235, 215, 0);
  border-color:currentColor;
  border-radius: 30%;


}


.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: $gray;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
