.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(3, 40, 106);
  color: #ee82ee;
  margin-left: -80px;
  margin-right: -82px;
  padding-right: 38px;
  border-bottom: solid 2px#ee82ee;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #ee82ee;
}
